body{
    margin:0;
}

.container{
    position:relative;
    width:100vw;
    height:100vh;
}



.box{
    position:absolute;
    width:50%;
    height:50%;
}



.red{
    background:red;
    top:0;
    left:0;
}

.green{
    background:green;
    top:0;
    right:0;
}

.orange{
    background:orange;
    bottom:0;
    left:0;
}

.pink{
    background:#ff0f8f;
    bottom:0;
    right:0;
}



.circle{
    position:absolute;
    width:150px;
    height:150px;
    background:white;
    border-radius:50%;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}



.square{
    position:absolute;
    width:50px;
    height:50px;
    background:red;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}



.center{
    position:absolute;
    width:150px;
    height:150px;
    background:white;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}


.center-circle{
    position:absolute;
    width:80px;
    height:80px;
    background:red;
    border-radius:50%;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}